<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>首页</title>
    <link rel="stylesheet" href="static/index/index.css">

    <script>
        $(window).resize(function (){
            if($("#accordion").height() < $(document).height() - $(".top").height() - $(".foot").height() - 40){
                $("#accordion").height($(document).height() - $(".top").height() - $(".foot").height() - 40);
            }
        });
        $(document).ready(function(){
            if($("#accordion").height() < $(document).height() - $(".top").height() - $(".foot").height() - 40){
                $("#accordion").height($(document).height() - $(".top").height() - $(".foot").height() - 40);
            }
        });
    </script>

</head>
<body>
{include file='view/head.html'}
<div class="middle">
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="padding-top: 20px;">

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a title="1" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                院宿委会简介
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="sgzx_logo col-sm-3">
                                <img src="http://odiyqfo1k.bkt.clouddn.com/o_1bfqp3alajvj14s1e86r251n7ra.png" alt="">
                            </div>
                            <div class="sgzx_text col-sm-9">
                                　　汕尾职业技术学院学生宿舍自我管理委员会（简称院宿委会）成立于2005年9月，以实现学生宿舍区内“自我管理，服务他人”为宗旨的学生机构，与院团委会、院学生会，成为三大院会。主要负责学院宿舍园区卫生、常规、用电安全检查等工作，以及配合各部门开展工作，为提高我院的宿舍园区良好住宿环境而共同努力。<br>
                                　　院宿委会学生干部50多名。机构设置：有主席团、秘书部、信息资源部、纪检部、生活部、宣传部共6个部门。学生干部立足于本职岗位，积极工作，做到内强素质、外塑形象，紧紧围绕学院的中心工作，全面提高学院学生宿舍管理水平和服务质量。逐步建立完善社会化的学生宿舍保障体系，为学院的稳定发展和办学目标实现提供强有力的后勤服务保障。</div>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a title="2" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                值班表
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>暂无值班表</p>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a title="3" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                招新活动
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>暂无招新活动</p>
                            <p><a href="#">网上报名招新</a></p>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a title="4" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                下载中心
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <p>暂无</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file='view/foot.html'}
</body>
</html>


